# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables / secrets
.env
client_secret.json

# Database files
*.db
*.sqlite3

# Coverage files
.coverage
htmlcov/
htmlcov